@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  font-family: "Inter";
}

.btn-primary {
  @apply px-6 text-base font-medium py-3 rounded-md bg-violet-600 hover:bg-violet-700 outline-none text-white;
}

.btn-secondary {
  @apply px-6 text-base font-medium py-3 rounded-md bg-gray-300 hover:bg-gray-400 outline-none text-black;
}

.text-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
